body {
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url("https://user-images.githubusercontent.com/26748614/96337246-f14d4580-1085-11eb-8793-a86d929e034d.jpg");
    background-size: cover;
    backdrop-filter:  brightness(50%);
}

#fullscr {
    position: absolute;
    top: 40px;
    left: 90px;
    width: 155px;
    height: 40px;
}

#toggle-rocket2 {
    position: absolute;
    top: 30px;
    right: 55px;
    width: 200px;
    height: 40px;
}

#playButton {
    position: absolute;
    top: 90px;
    left: 70px;
    width: 40px;
    height: 40px;
    filter: opacity(0.9) drop-shadow(10 0 0 #2379a9);
}

#pauseButton {
    position: absolute;
    top: 90px;
    left: 70px;
    width: 40;
    height: 40px;
    filter: invert(100%);
}

#nextButton {
    position: absolute;
    top: 90px;
    left: 120px;
    width: 40;
    height: 40px;
}

#prevButton {
    position: absolute;
    top: 90px;
    left: 20px;
    width: 40;
    height: 40px;
}

#volumeControl {
    position: absolute;
    top: 160px;
    left: 10px;
    width: 155px;
    height: 10px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ddd;
    outline: none;
    border-radius: 20px;
    height: 5px;
    }
    
    #volumeControl::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width:55px;
        height:55px;
        /* background make it be the ./assets/img/spaceShip.png */
        background: url('../assets/img/spaceShip.png') no-repeat 0 center;
        background-size: contain;
        border-radius: 50%; 
    }
    
    #volumeControl::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 55px;
        height:55px;
        /* background make it be the ./assets/img/spaceShip.png */
        background: url('../assets/img/spaceShip.png') no-repeat 0 center;
        background-size: contain;
        border-radius: 50%;
    }

/* Table Css */
table {
    position: absolute;
    top: 550px;
    right: 55px;
    width: 270.5px;
    height: 206x;
    border-collapse: collapse;
    
    color: white;
    font-size: 0.9rem;
    font-family: sans-serif;
    text-align: center;
    border: 2px solid white;
}

th,
td {
  padding: 2px;
  border: 1px solid white;
}

th {
  background-color: #333;
  font-weight: bold;
}

#headin {
    position: absolute;
    color: white;
    top: 8px;
    font-weight: bold;
    color: white;
}

#planet-size {
    position: absolute;
    color: white;
    top: -12px;
    right: 55px;
    width: 150px;
    height: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

canvas {
    display: block;
}

#canvas_container {
    width: 100%;
    height: 100vh;
}

button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 0.5rem 0.9em;
    background: #000000;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s;
}

button:hover {
    background: #ffffff;
    color: #000000;
}

/* Rocket Switch */
.checkbox-apple {
    position: absolute;
    top: 80px;
    right: 55px;
    width: 200px;
    height: 250px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
}

  .toggle-text {
    position: absolute;
    color: white;
    top: -33px;
    left: -40px;
    font-size: 14px;
   }
  
  
  .checkbox-apple label {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 25px;
    border-radius: 50px;
    background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .checkbox-apple label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: url('../assets/img/rocket.png') no-repeat 0 center white;
    background-size: contain;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  
  .checkbox-apple input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  
  .checkbox-apple input[type="checkbox"]:checked + label {
    background: linear-gradient(to bottom, #2379a9, #2379a9);
  }
  
  .checkbox-apple input[type="checkbox"]:checked + label:after {
    transform: translateX(25px);
  }
  
  .checkbox-apple label:hover {
    background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
  }
  
  .checkbox-apple label:hover:after {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  .yep {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 25px;
  }

/* Astro Switch */
.checkbox2-apple {
    position: absolute;
    top: 160px;
    right: 55px;
    width: 200px;
    height: 250px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
    }
    
    .toggle-text {
    position: absolute;
    color: white;
    top: -33px;
    left: -40px;
    font-size: 14px;
    }
    
    .checkbox2-apple label {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 25px;
    border-radius: 50px;
    background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
    cursor: pointer;
    transition: all 0.3s ease;
    }
    
    .checkbox2-apple label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: url('../assets/img/planet.png') no-repeat 0 center white;
    background-size: contain;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    }
    
    .checkbox2-apple input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    }
    
    .checkbox2-apple input[type="checkbox"]:checked + label {
    background: linear-gradient(to bottom, #2379a9, #2379a9);
    }
    
    .checkbox2-apple input[type="checkbox"]:checked + label:after {
    transform: translateX(25px);
    }
    
    .checkbox2-apple label:hover {
    background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
    }
    
    .checkbox2-apple label:hover:after {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }
    
    .yep {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 25px;
    }

/* Rocket Model Switch */

.checkbox3-apple {
  position: absolute;
  top: 240px;
  right: 55px;
  width: 200px;
  height: 250px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;
  }
  
  .toggle-text1 {
  position: absolute;
  color: white;
  top: -33px;
  left: -20px;
  font-size: 14px;
  }
  
  .checkbox3-apple label {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
  border-radius: 50px;
  background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
  cursor: pointer;
  transition: all 0.3s ease;
  }
  
  .checkbox3-apple label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: url('../assets/img/planet.png') no-repeat 0 center white;
  background-size: contain;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  }
  
  .checkbox3-apple input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  }
  
  .checkbox3-apple input[type="checkbox"]:checked + label {
  background: linear-gradient(to bottom, #2379a9, #2379a9);
  }
  
  .checkbox3-apple input[type="checkbox"]:checked + label:after {
  transform: translateX(25px);
  }
  
  .checkbox3-apple label:hover {
  background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
  }
  
  .checkbox3-apple label:hover:after {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  .yep {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
  }


  